<% include ./partials/header.ejs %>

<h1>LOGIN</h1>
<form action="/admin-login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<% include ./partials/footer.ejs %>